<nav>
  <div class="sessions">
    {% for section in sections %}
      <a class="{% if section.id == currentSection.id %}active{% endif %}" href="/app/projects/{{ project.id }}/sections/{{ section.id }}">{{ section.title }}</a>
    {% endfor %}
  </div>

  <form method="POST" action="/app/projects/{{ project.id }}/sections/store">
    <input type="text" name="title" placeholder="Nova seção">
    <input type="hidden" name="content">
    <button type="submit" class="btn"><img src="/img/plus.svg"></button>
  </form>
</nav>
