{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="wrapper">
    {% include 'partials/header.njk' %}

    <section id="main">
      <div class="container">
        {% include 'partials/subheader.njk' %}

        <section id="content">
          {% include 'partials/nav.njk' %}
        </section>
      </div>
    </section>
  </div>
{% endblock %}
